@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

:root {
    --primary-color: #4ab7b8;
    --secondary-color: #f0b238;
    --bg-color: #1a2b33;
    --square-color: #1E3640;
    --square-color-light: #5a6672;
    --shadow: rgba(13, 34, 43, 0.5);
}

* {
    background-color: var(--bg-color);
    box-sizing: border-box;
    color: #F2F5EA;
    font-family: 'Luckiest Guy', cursive;
    margin: 0;
    padding: 0;
}


/* Titre */
h1 {
    letter-spacing: 2px;
    margin-bottom: 50px;
    text-align: center;
}

.title {
    color: var(--secondary-color);
}

/* Commandes */
.commands {
    align-items: center;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 10px;
    width: 310px;
}

.icons {
    display: flex;
    flex-direction: row;
}

.cross-icon {
    background: url('icons/x.svg') no-repeat;
    background-position: center;
    background-size: cover;
    display: block;
    height: 1em;
    margin-right: 5px;
    width: 1em;
}

.circle-icon {
    background: url('icons/circle.svg') no-repeat;
    background-position: center;
    background-size: cover;
    display: block;
    height: 1em;
    width: 1em;
}

.turn {
    align-items: center;
    background-color: var(--square-color);
    border-radius: 5px;
    box-shadow: 2px 2px 2px var(--shadow);
    display: flex;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: bold;
    gap: 10px;
    justify-content: center;
    padding: 10px;
}

.cross-turn {
    background: url('icons/x.svg') no-repeat;
    background-position: center;
    background-size: cover;
    display: block;
    height: 1em;
    width: 1em;
}

.circle-turn {
    background: url('icons/circle.svg') no-repeat;
    background-position: center;
    background-size: cover;
    display: block;
    height: 1em;
    width: 1em;
}

.btn-reset {
    background: url('icons/reset.svg') no-repeat;
    background-color: lightgray;
    background-position: center;
    background-size: 20px;
    border: none;
    border-radius: 20%;
    box-shadow: 2px 2px 2px var(--shadow);
    height: 35px;
    padding: 15px;
    width: 35px;
}

.btn-reset:focus,
.btn-reset:hover {
    background-color: white;
}

.btn-reset:active {
    transform: scale(.90);
    background-color: #47525D;
}


/* Grille de jeu */
.wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.game {
    border: 1px solid var(--bg-color);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
}

.square {
    align-items: center;
    background-color: var(--square-color);
    border: 1px solid var(--bg-color);
    border-radius: 20%;
    box-shadow: 2px 2px 2px rgba(13, 34, 43, 0.8);
    display: flex;
    height: 100px;
    justify-content: center;
    width: 100px;
}

.square:hover {
    background-color: var(--square-color-light);
}

.square:hover .circle,
.square:hover .cross {
    background-color: var(--square-color-light);
}


/* Composants du jeu */

.circle {
    border: 15px solid var(--secondary-color);
    background-color: var(--square-color);
    border-radius: 50%;
    height: 70px;
    width: 70px;
}

.circle:hover {
    background-color: #47525D;
}

.cross {
    position: relative;
    background-color: var(--square-color);
    height: 70px;
    width: 70px;
    transform: rotate(45deg);
}

.cross:hover {
    background-color: var(--square-color-light);
}

.cross:before,
.cross:after {
    content: "";
    position: absolute;
    background-color: var(--primary-color);
}

.cross:before {
    height: 100%;
    left: 50%;
    margin-left: -15%;
    width: 30%;
}

.cross:after {
    height: 30%;
    margin-top: -15%;
    top: 50%;
    width: 100%;
}

/* Infos (victoire) */

.info {
    align-items: center;
    display: flex;
    font-size: 25px;
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
}

.winner-cross {
    color: var(--primary-color);
}

.winner-circle {
    color: var(--secondary-color);
}